<wm-page data-ng-controller="OrdersPageController" pagetitle="Orders" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="OrderPageContent">
            <wm-label name="no_orders_text" caption="No Orders" fontsize="2" fontunit="em"></wm-label>
            <wm-label name="my_orders_text" fontunit="em" fontsize="2" caption="My Orders"></wm-label>
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn10">
                        <wm-label name="order_items_name" caption="Product Name" paddingleft="8" fontsize="15" fontunit="px" fontweight="bold"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="2" name="gridcolumn11">
                        <wm-label name="order_items_quantity" caption="Quantity" fontweight="bold" fontsize="15"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn12">
                        <wm-label name="order_items_status" caption="Status" fontweight="bold" fontsize="15"></wm-label>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-livelist listclass="list-group" itemclass="list-group-item" dataset="bind:Variables.EshoppingExecute_OrderedLists.dataSet" name="livelist1" navigation="Advanced">
                <wm-listtemplate layout="blank" name="listtemplate1">
                    <wm-container class="blank" data-template-ctr="true" name="container1">
                        <wm-layoutgrid class="gridlayout" name="layoutgrid2">
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                                    <wm-label width="100%" caption="bind:Variables.EshoppingExecute_OrderedLists.dataSet.NAME" name="label7"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="2" name="gridcolumn15">
                                    <wm-label width="100%" caption="bind:Variables.EshoppingExecute_OrderedLists.dataSet[$i].QUANTITY" name="label8"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" name="gridcolumn17">
                                    <wm-label width="100%" caption="bind:Variables.EshoppingExecute_OrderedLists.dataSet.STATUS" name="label10"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="1" name="gridcolumn18">
                                    <wm-button class="btn-default" caption="" type="button" name="cancelOrder" width="37" iconclass="fa fa-close" height="40" fontsize="1.5" fontunit="em" on-click="EshoppingExecuteCancelled" show="bind:Variables.EshoppingExecute_OrderedLists.dataSet[$i].STATUS==&quot;Ordered&quot;"></wm-button>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-container>
                </wm-listtemplate>
            </wm-livelist>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>