<wm-page data-ng-controller="Product_laptopsPageController" pagetitle="Product Laptops" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-livelist listclass="media-list" itemclass="media" name="livelist1" dataset="bind:Variables.Static_Product_data_Laptop.dataSet" margintop="20" paddingbottom="20" paddingright="20" paddingleft="20" paddingtop="20">
                <wm-listtemplate layout="media" name="listtemplate1">
                    <wm-container class="media-left" name="container1">
                        <wm-picture class="media-object picture" shape="rounded" width="100" name="picture1" height="15em" picturesource="bind:&quot;http://wmstudio-apps.s3.amazonaws.com/eshop/Products/Thumbnails&quot;+Variables.Static_Product_data_Laptop.dataSet.imgUrl"></wm-picture>
                    </wm-container>
                    <wm-container class="media-body" data-template-ctr="true" name="container2">
                        <wm-label width="100%" caption="bind:Variables.Static_Product_data_Laptop.dataSet.name" name="label7" fontsize="17" fontweight="bold" bordertop="5" paddingtop="10" paddingbottom="10"></wm-label>
                        <wm-label width="100%" caption="bind:Variables.Static_Product_data_Laptop.dataSet.description" name="label6" fontsize="15"></wm-label>
                        <wm-label caption="Available" name="Available" fontsize="18" color="#f0f2f1" backgroundcolor="#088b47" show="bind:Variables.Static_Product_data_Laptop.dataSet.availability"></wm-label>
                        <wm-label caption="Out Of Stock" fontsize="18" name="OutOfStock" color="#f0f2f1" backgroundcolor="#cd292f" show="bind:!Variables.Static_Product_data_Laptop.dataSet.availability"></wm-label>
                        <wm-label width="100%" caption="bind:&quot;Price :$&quot;+Variables.Static_Product_data_Laptop.dataSet.price" name="label5" fontsize="17" fontweight="bold"></wm-label>
                        <wm-button class="btn-default" caption="Add to Cart" type="button" name="AddtoCart" iconclass="fa fa-cart-plus" backgroundcolor="#608ef1" fontsize="20" show="bind:Variables.Static_Product_data_Laptop.dataSet.availability"
                        on-click="InsertCart"></wm-button>
                        <wm-label name="id" caption="bind:Variables.Static_Product_data_Laptop.dataSet.id" show="false"></wm-label>
                    </wm-container>
                </wm-listtemplate>
            </wm-livelist>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>